<section class="intro" style="margin-top:3rem;">
  <h1>Hi, I&rsquo;m Abdullah!</h1>
  <figcaption style="font-size: 0.7em; color: #888;">
    <strong>Sr. ML Engineer at Atlassian | Ex-Meta</strong>
  </figcaption>
  <p style="margin-top:0.5rem;">
    <strong>RL &amp; multi-Agentic AI at Confluence/Jira Search.</strong>
    As a part of the <strong>Central AI team</strong>, I&rsquo;m building/Improving
    <strong>SMART Answer</strong> generation for Jira/Confluence search using
    <strong>RL-based fine-tuned LLM models</strong> and <strong>multi-Agent AI architecture</strong>.
    Previously, I worked at <strong>Meta</strong> on <strong>Ads Ranking</strong> and fine-tuned
    <strong>LLaMA 3</strong> for large-scale suggestive ad generation.
  </p>
  <p style="font-weight: bold; font-size: 1em;margin-top: 2rem;">
    Welcome to my blog!
  </p>
</section>
